body {
	background: #232931;
}


.container {
	background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
	width: 400px;
	height: 280px;
}

.head {
	text-align: center;
  margin: 0 auto;
  font-family: "arial", serif;
  font-size: 27px;
  margin-bottom: 35px;
}

.description {
	color: #1d2c3f;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
}

