body {
	background-color: #faf8ef;
	font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.BatteryStatus {
	background-color: #b5b5b5;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.Container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    user-select: none;
}
.GameView {
    background-color: #b7afaf;
    padding: 5px
}
.Window {
    top: 50%;
	position: absolute;
    width: 100%;
    text-align: center;
    align-content: stretch;
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
}
.Description {
    top: 6.5rem;
    left: 0.5rem;
    color: #777777;
    font-size: small;
}
.GameResult {
}

.RestartButton {
    top: 4rem;
    right: 0.5rem;
    background-color: #999999;
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
    text-align: center;
    color: #efefef;
}
.RestartButton div {
	padding-top: 0.5rem;
}
.BestResult {
    right: 0.5rem;
    width: 6rem;
    top: 0.5rem;
    background-color: #b7afaf;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.Score {
    top: 0.5rem;
    right: 8rem;
    width: 6rem;
    background-color: #b7afaf;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}
.Title {
    top: 0.5rem;
    left: 0.5rem;
    width: 5rem;
    height: 3rem;
    background-color: #f7e149;
    border-radius: 5px;
    text-align: center;
    color: #776e65;
    font-size: xx-large;
    font-weight: bold;
}
.Title div {
    padding-top: 0.3rem;
}

.Text {
	color: white;
}

canvas {
    cursor: pointer;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.sub-header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: end;
    column-gap: 5px;
}
.h-group {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.v-group {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

@media screen and (max-height: 414px) {
    .sub-header {
        position: absolute;
        right: 5px;
        top:60px;
    }
}

.apk-link {
    cursor: pointer;
}